/* css/style.css */
body {
  font-family: Arial, sans-serif;
}
header {
  width: 100%;
  background-color: #1f85ec;
}
nav {
  width: 80%;
  margin: auto;
  border: 2px solid yellow;
}
nav ul {
  display: flex;
}

li {
  list-style-type: none;
  margin: 5px;
  border: solid 2px white;
}
nav a {
  color: darkblue;
  text-decoration: none;
  margin: 5px;
}
nav a:hover {
  color: lightblue;
  background-color: blue;
}

main {
  width: 80%;
  margin: auto;
}
footer {
  width: 100%;
  background-color: #69abee;
}
h1 {
  color: white;
}

h2,
h3 {
  color: blue;
}

form {
  background-color: #d3d3d3;
  padding: 20px;
  border-radius: 5px;
}
.grille-hotels {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.vignette-hotel {
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f9f9f9;
}

.test {
  border: 1px solid red;
  width: 70%;
  margin: auto;
}
